<main class="content">
  <div class="content-header ui-content-header">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
          <h1 class="content-heading">{{site.title}}</h1>
          <h4 class="content-heading">{{site.irc}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <section class="content-inner margin-top-no">
          <div class="card">
            <div class="card-main">
              <div class="card-inner margin-bottom-no">
                {{{body}}}
              </div>
              <div class="card-action">
                <div class="card-action-btn pull-right">
                  <a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">chevron_left</span></a>
                  <a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">chevron_right</span></a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
