<nav aria-hidden="true" class="menu" id="ui_menu" tabindex="-1">
  <div class="menu-scroll">
    <div class="menu-content">
      <a class="menu-logo" href="/">{{site.title}}</a>
      <ul class="nav">
        <li>
          <a class="waves-attach" data-toggle="collapse" href="#ui_sora_about">About</a>
          <ul class="menu-collapse collapse" id="ui_sora_about">
            <li>
              <a class="waves-attach" href="/">Staff</a>
            </li>
            <li>
              <a class="waves-attach" href="/">Ikki<small class="margin-left-xs">(9 November 2014)</small></a>
            </li>
          </ul>
        </li>
        <li>
          <a class="waves-attach" href="/">Donation</a>
        </li>
        <li>
          <a class="waves-attach" href="/">Projects</a>
        </li>
        <li>
          <a class="waves-attach" href="/">Recruitment</a>
        </li>
        <li>
          <a class="waves-attach" href="/">DDL</a>
        </li>
        <li>
          <a class="waves-attach" href="/">Torrent</a>
        </li>
        <li>
          <a class="waves-attach" data-toggle="collapse" href="#ui_sora_portal">Playback &amp; Portals</a>
          <ul class="menu-collapse collapse" id="ui_sora_portal">
            <li>
              <a class="waves-attach" href="/">Playback</a>
            </li>
            <li>
              <a class="waves-attach" href="/">Portal</a>
            </li>
            <li>
              <a class="waves-attach" href="/">Web IRC</a>
            </li>
            <li>
              <a class="waves-attach" href="/">Sorairo Server Tools</a>
            </li>
            <hr/>
            <li>
              <a class="waves-attach" href="/">Horizon Sora Iro</a>
            </li>
            <li>
              <a class="waves-attach" href="/">ghosted</a>
            </li>
            <li>
              <a class="waves-attach" href="/" title="鹿乃">鹿乃.gq</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
