
<div class="modal fade" id="ui_modal_msg_default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-heading">
        <a class="modal-close" data-dismiss="modal">×</a>
        <h2 class="modal-title">Notification Box</h2>
      </div>
      <div class="modal-inner">
        {{message}}
      </div>
      <div class="modal-footer">
        <p class="text-right"><button class="btn btn-flat btn-brand waves-attach waves-effect" data-dismiss="modal" type="button">Close</button></p>
      </div>
    </div>
  </div>
</div>
